{% extends "parking/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        <div class="mb-3">
            <h2 class="display-6 fw-normal text-body-emphasis">Enter new password</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors}}
            <label class="form-label" for="id_new_password1">New password:</label>
            <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
            <span class="text-danger">{{ form.errors.new_password1 }}</span>
            <span class="helptext" id="id_new_password1_helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
            <label class="form-label" for="id_new_password2">New password confirmation:</label>
            <input type="password" class="form-control mb-3" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            <span class="text-danger">{{ form.errors.new_password2 }}</span>
            <button type="submit" class="btn btn-primary" >Save new password</button>
        </form>
    </div>
</div>

{% endblock %}