{% extends "parking/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-5">
        <div class="mb-3">
            <h2 class="display-6 fw-normal text-body-emphasis">Password reset</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_email">Email:</label>
                <input type="email" class="form-control" name="email" autocomplete="email" maxlength="50" required="" id="id_email">
            </p>
                <button type="submit" class="btn btn-primary">Request password reset</button>
        </form>
    </div>
</div>
{% endblock %}