{% extends "parking/base.html" %}

{% block content %}
<div class="row">
    <div class="d-flex justify-content-center">
    <div class="col-5">
        <div class="mb-3">
            <h2 class="display-6 fw-normal text-body-emphasis">Profile</h2>
        </div>
        <form method="POST" action="{% url 'users:profile' %}">
            {% csrf_token %}
            <label class="form-label">Username</label>
            <input type="text" id="inputUsername" name="username" class="form-control mb-3" disabled value="{{ user.username }}"/>
            <label for="inputFirstname" class="form-label">First name</label>
            <input type="text" id="inputFirstname" name="first_name" class="form-control mb-3" value="{{ user.first_name }}"/>
            <span class="text-danger">{{ form.errors.first_name }}</span>
            <label for="inputLastname" class="form-label">Last name</label>
            <input type="text" id="inputLastname" name="last_name" class="form-control mb-3" value="{{ user.last_name }}"/>
            <span class="text-danger">{{ form.errors.last_name }}</span>
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control mb-3" id="InputEmail" name="email" placeholder="name@example.com" value="{{ user.email }}"/>
            <span class="text-danger">{{ form.errors.email }}</span>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
{% endblock %}