{% extends "parking/base.html" %}

{% block content %}
<div class="row">
    <div class="d-flex justify-content-center">
    <div class="col-5">
        <div class="mb-3">
            <h2 class="display-6 fw-normal text-body-emphasis">Carr Add Form</h2>
        </div>
        <form method="POST" action="{% url 'parking:car_add' %}">
            {% csrf_token %}
            <label for="inputRegmark" class="form-label">Registration mark</label>
            <input type="text" id="inputRegmark" name="reg_mark" class="form-control mb-3"/>
            <span class="text-danger">{{ form.errors.reg_mark }}</span>
            <label for="inputModel" class="form-label">Model</label>
            <input type="text" id="inputModel" name="model" class="form-control mb-3"/>
            <span class="text-danger">{{ form.errors.model }}</span>
            <label for="inputColor" class="form-label">Color</label>
            <input type="text" id="inputColor" name="color" class="form-control mb-3"/>
            <span class="text-danger">{{ form.errors.color }}</span>
            {% if user.is_superuser %}
            <label for="InputFare" class="form-label">Fare</label>
            <input type="text" class="form-control mb-3" id="InputFare" name="fare" value="{{ parking_info.default_fare }}"/>
            <span class="text-danger">{{ form.errors.fare }}</span>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="inputConfirmed" name="confirmed" checked>
                <label for="inputConfirmed" class="form-check-label">Confirmed</label>
            </div>
            <div class="mb-3">
                <label for="inputUser" class="form-label">Owner</label>
                <select id="inputUser" name="user" class="form-select {% if form.user.errors %}is-invalid{% endif %}" required>
                    <option value="">Select owner</option>
                    {% for user in form.user.field.queryset %}
                        <option value="{{ user.id }}" {% if user.id == form.user.value %}selected{% endif %}>{{ user.username }}</option>
                    {% endfor %}
                </select>
                {% if form.user.errors %}
                    <div class="invalid-feedback">
                        {{ form.user.errors }}
                    </div>
                {% endif %}
            </div>
            {% else %}
            <input type="hidden" class="form-control mb-3" id="InputFare" name="fare" value="{{ parking_info.default_fare }}"/>
            {% endif %}
            <input type="hidden"  id="Inputuser" name="user" value="{{ user.id }}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
{% endblock %}